/* estilo personalisado basado en clases*/
.pekka{
    color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
}
#estilopropio{
    color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}